/**
* PIANO BLACK KEY COMPONENT
* -- 
*/

.black-key {
  position: absolute;
  margin-left: calc(#{$piano-black-key-size} / -2);

  // defining left offset for all black keys in the octave range
  $black-key-locations: 1, 2, 4, 5, 6;
  @each $i in $black-key-locations {
    &[data-piano-black-key-index="#{$i}"] {
      left: calc(#{$i} * #{$piano-white-key-size});
    }
  }

  &__front {
    background-color: $color-blue-deep;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    flex-grow: 1;
    width: 100%;
  }

  &__top {
    background: linear-gradient(180deg, $color-black, $color-blue-deep 33%);
    height: 90%;
    width: 100%;
  }
}
