/**
* PIANO component
* --
* A graphical UI element resembling a piano synthetizator
*/

.piano {
  border-radius: 10px;

  // blured glow
  &::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 101%;
    // background: linear-gradient(45deg, $color-pink, $color-purp);
    background: linear-gradient(
      45deg,
      $color-brand-accent-2,
      $color-brand-accent-1
    );
    filter: blur(20px);
    top: 0;
    left: -0.5%;
    // -webkit-animation: pulsing-01 1s alternate infinite; /* Safari 4+ */
    // -moz-animation: pulsing-01 1s alternate infinite; /* Fx 5+ */
    // -o-animation: pulsing-01 1s alternate infinite; /* Opera 12+ */
    // animation: pulsing-01 1s alternate infinite; /* IE 10+, Fx 29+ */
  }

  &__content {
    // background: linear-gradient(45deg, $color-pink, $color-purp);
    background: linear-gradient(
      45deg,
      $color-brand-accent-2,
      $color-brand-accent-1
    );
    border-radius: 10px;
    display: flex;
    flex-flow: row nowrap;
    overflow: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    // box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
  }

  &__blocked {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
  }

  &__side {
    width: 10%;
    height: 100%;
    background-color: rgba($color-brand-accent-2, 0.2);
    mix-blend-mode: multiply;
  }

  &__main {
    display: flex;
    flex-flow: column nowrap;
    width: 80%;
  }

  &__top-panel {
    align-items: center;
    border-top-right-radius: 20px;
    color: $color-brand-background;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    width: 100%;
  }

  &__keyboard {
    height: 55%;
  }

  &[data-input-disabled="true"] &__content {
    opacity: 0.5;
  }
  &[data-input-disabled="true"]::before {
    display: none;
  }
}

.piano-side{
  position: relative;
  z-index: 12;

  &--left{
    box-shadow: 3px 0 3px rgba(black, 0.2);
  }
  &--right{
    box-shadow: -3px 0 3px rgba(black, 0.2);
  }

  &__front{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 10%;
    background: linear-gradient(rgba(black, 0.3), rgba(black, 0.75));
  }
}

.blocked-message {
  display: flex;
  justify-content: center;
  align-items: center;

  &__figure {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    background-color: $color-brand-neutral-2;
    opacity: 0.75;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;

    svg {
      fill: $color-brand-background;
      width: 80%;
      flex-grow: 0;
      flex-shrink: 0;
    }
  }

  &__countback{
    color: $color-brand-background;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
    opacity: 0;

    &[data-active="true"]{
      opacity: 1;
    }
  }
}

@import "piano-keyboard";

// not used right now
@-webkit-keyframes pulsing-01 {
  0% {
    filter: blur(15px);
  }
  100% {
    filter: blur(30px);
  }
}
@-moz-keyframes pulsing-01 {
  0% {
    filter: blur(15px);
  }
  100% {
    filter: blur(30px);
  }
}
@-o-keyframes pulsing-01 {
  0% {
    filter: blur(15px);
  }
  100% {
    filter: blur(30px);
  }
}
@keyframes pulsing-01 {
  0% {
    filter: blur(15px);
  }
  100% {
    filter: blur(30px);
  }
}
