/**
* PIANO component
* --
* A graphical UI element resembling a piano synthetizator
*/

.piano {
  border-radius: 20px;
  // height: 500px;
  margin: 30px;
  position: relative;
  // width: 840px;
  // padding-top: (500px / 840px) * 100%;

  &::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 101%;
    // background: linear-gradient(45deg, $color-pink, $color-purp);
    background: linear-gradient(45deg, $color-brand-accent-2, $color-brand-accent-1);
    filter: blur(20px);
    top: 0;
    left: -0.5%;
    // -webkit-animation: pulsing-01 1s alternate infinite; /* Safari 4+ */
    // -moz-animation: pulsing-01 1s alternate infinite; /* Fx 5+ */
    // -o-animation: pulsing-01 1s alternate infinite; /* Opera 12+ */
    // animation: pulsing-01 1s alternate infinite; /* IE 10+, Fx 29+ */
  }

  &__content {
    // background: linear-gradient(45deg, $color-pink, $color-purp);
    background: linear-gradient(45deg, $color-brand-accent-2, $color-brand-accent-1);
    border-radius: 20px;
    display: flex;
    flex-flow: row nowrap;
    overflow: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    // box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
  }

  &__side-panel {
    background-color: rgba(0, 0, 0, 0.5);
    mix-blend-mode: overlay;
    flex-grow: 1;
  }

  &__side-panel-bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background-color: black;
  }

  &__main {
    display: flex;
    flex-flow: column nowrap;
  }

  &__top-panel {
    align-items: center;
    border-top-right-radius: 20px;
    color: $color-brand-background;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    width: 100%;
  }

  &__keyboard {
    height: 55%;
  }
}

@import "piano-keyboard";

// not used right now
@-webkit-keyframes pulsing-01 {
  0% {
    filter: blur(15px);
  }
  100% {
    filter: blur(30px);
  }
}
@-moz-keyframes pulsing-01 {
  0% {
    filter: blur(15px);
  }
  100% {
    filter: blur(30px);
  }
}
@-o-keyframes pulsing-01 {
  0% {
    filter: blur(15px);
  }
  100% {
    filter: blur(30px);
  }
}
@keyframes pulsing-01 {
  0% {
    filter: blur(15px);
  }
  100% {
    filter: blur(30px);
  }
}
