/**
* PIANO WHITE KEY COMPONENT
* -- 
*/

.white-key {
  &__front {
    background: linear-gradient(0deg, $color-blue-deep, $color-blue);
    flex-grow: 1;
    width: 100%;
  }
  &:not(:last-child) &__front {
    border-right: 3px solid $color-blue-deep;
  }

  &__top {
    background: linear-gradient(180deg, $color-blue, $color-white 33%);
    height: 90%;
    width: 100%;
  }
  &:not(:last-child) &__top {
    border-right: 3px solid $color-blue;
  }
  &[data-piano-key-pressed="true"] &__top {
    height: 95%;
    background: linear-gradient(180deg, $color-blue, $color-grey 50%);
  }
}
