/**
* APP component
* -- 
* The main component / root of all components 
* of the vue application.
*/

.app {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
  justify-content: space-around;
  width: 100vw;

  &__header {
    padding: 20px;
    font-size: 30px;
    color: $color-pink;
  }

  &__footer {
    padding: 20px;
    font-size: 14px;
    color: $color-pink;
  }

  &__testbtn {
    border: 2px solid white;
    border-radius: 2px;
    padding: 10px 20px;
    text-transform: uppercase;
  }
}
