/**
 * BASE
 * --
 * Contains a lot of the generic single-use classes that format text/elements on
 * the page. Unlike standard components, these components do not have child
 * elements.
 */

body {
  background-color: $color-brand-background;
  // background: linear-gradient(0deg, $color-yellow, $color-orange);
  color: $color-white;
}

#app {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}
