/**
 * BASE
 * --
 * Contains some basic css components that are at the top level of the DOM.
 * -- 
 * CREDIT: 
 * grain filter css solution was inspired by the comments on this article:
 * https://stackoverflow.com/questions/4011113/can-you-add-noise-to-a-css3-gradient
 */

// @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
// @font-face {
//   font-family: 'Montserrat';
//   src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap') format('opentype');
// }

* {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: $color-brand-background;
  color: $color-brand-foreground;
}
