/**
* A list of GENERIC components
*/

@import "./logo";
@import "./buttons";
@import "./icons";

.info-bubble {
  background-color: $color-white;
  color: $color-brand-background;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 5px;
  z-index: 20;
}

.metronome__details {
  color: $color-brand-neutral-1;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.metronome__button {
  fill: $color-brand-neutral-1;
  height: 30px;
  opacity: 0.5;
  cursor: pointer;

  &:hover {
    opacity: 1;
    fill: $color-brand-accent-2;
  }

  &[data-active] {
    opacity: 1;
  }
}

.metronome__flash {
  width: 8px;
  height: 8px;
  border-radius: 999px;
  margin: 0 10px;
  background-color: $color-brand-neutral-1;

  &[data-active] {
    animation-name: flash_metronome_anim;
    animation-duration: 200ms;
    animation-iteration-count: 1;
  }
}

/* Metronome flash animation */
@keyframes flash_metronome_anim {
  from {
    background-color: $color-brand-accent-3;
  }
  to {
    background-color: $color-brand-neutral-1;
  }
}

.playback-controls {
  padding: 10px 0 10px 20px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;

  .playback_control {
    width: 30px;
    height: 30px;
    cursor: pointer;
    fill: $color-black;
    border-radius: 999px;

    &[data-disabled] {
      opacity: 0.5;
      pointer-events: none;
    }

    &:not(:first-of-type) {
      margin-left: 10px;
    }

    &:hover {
      fill: $color-brand-accent-4;
    }
  }
}
