/**
* Music sheet component
*/


$ms_side-width: 60px;
$ms_header-height: 25px;
.music-sheet {
  background-color: $color-brand-foreground;
  border-radius: 10px;
  display: flex;
  flex-flow: row nowrap;
  height: 250px;
  width: 100%;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;

  &__side {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    width: $ms_side-width;
    border-right: 0.5px solid rgba(0, 0, 0, 0.5);
    background-color: $color-brand-neutral-1;
    font-size: 12px;
  }

  &__side &__header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__side &__header-icon{
    fill: $color-brand-neutral-3;
    height: 18px;
  }

  &__side &__row {
    padding: 2px 10px;
    padding-left: 18px;
    color: $color-brand-background;
  }

  &__body {
    height: 100%;
    width: calc(100% - #{$ms_side-width});
    display: flex;
    flex-flow: column nowrap;
    position: relative;
  }

  &__cursor{
    position: absolute;
    top: 0;
    left: 0%;
    height: 100%;
    width: calc(100% / 128);
    // margin-left: -2px;
    background-color: $color-brand-accent-4;
    mix-blend-mode: multiply;
    transition: left 25ms;
    z-index: 10;
  }
  
  &__header{
    height: $ms_header-height;
    width: 100%;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.15);
    background-color: $color-brand-neutral-1;
    display: flex;
    flex-flow: row nowrap;
    position: relative;
  }

  &__header-timestamp{
    font-size: 12px;
    position: absolute;
    bottom: 0;
    z-index: 9;
    content: attr(data-musicsheet-header-marker);

    @for $i from 0 through 3 {
      &[data-musicsheet-header-marker="#{$i}"]{
        left: calc((#{$i} * (100% /4)));
      }
    }
  }

  &__content {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    justify-content: center;
    position: relative;
    width: 100%;
  }

  &__row {
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.15);
    display: flex;
    width: 100%;
    flex-grow: 1;
  }

  $list: 61, 63, 66, 68, 70;
  @each $i in $list {
    &__row[data-row-index="#{$i}"] {
      background: rgba(0,0,0,0.05);
    }    
  }

  &__column {
    // border-bottom: 0.5px solid rgba(0, 0, 0, 0.05);
    // border-right: 0.5px solid rgba(0, 0, 0, 0.05);
    border: 0.5px solid rgba(0, 0, 0, 0.05);
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    flex-grow: 1;
    flex-shrink: 0;

    // vertical bar markers (1/1)
    &[data-demisemiquaver-cell-index="32"],
    &[data-demisemiquaver-cell-index="96"]{
      border-right: 1px solid rgba(0, 0, 0, 0.5);
    }
    &[data-demisemiquaver-cell-index="64"]{
      border-right: 1px dashed rgba($color-brand-accent-2, 1);
    }

    // vertical crotchet marker (1/4)
    &[data-demisemiquaver-cell-index="8"],
    &[data-demisemiquaver-cell-index="16"],
    &[data-demisemiquaver-cell-index="24"],
    &[data-demisemiquaver-cell-index="40"],
    &[data-demisemiquaver-cell-index="48"],
    &[data-demisemiquaver-cell-index="56"],
    &[data-demisemiquaver-cell-index="72"],
    &[data-demisemiquaver-cell-index="80"],
    &[data-demisemiquaver-cell-index="88"],
    &[data-demisemiquaver-cell-index="104"],
    &[data-demisemiquaver-cell-index="112"],
    &[data-demisemiquaver-cell-index="120"]
    {
      border-right: 1px solid rgba(0, 0, 0, 0.25);
    }

    $active-cell-border-radius: 5px;
    &[data-note-cell-status="singlecell"], 
    &[data-note-cell-status="start"], 
    &[data-note-cell-status="end"], 
    &[data-note-cell-status="inbetween"] {
      background-color: $color-brand-accent-2;
      border: 0.5px solid black;
    }
    
    &[data-note-cell-status="start"]{
      // border-width: 1px 0 1px 1px;
      border-right-color: transparent;
      border-radius: $active-cell-border-radius 0 0 $active-cell-border-radius;
    }
    &[data-note-cell-status="inbetween"] {
      border-right-color: transparent;
      border-left-color: transparent;
      border-radius: 0;
    }
    &[data-note-cell-status="end"] {
      border-left-color: transparent;
      border-radius: 0 $active-cell-border-radius $active-cell-border-radius 0;
    }
    &[data-note-cell-status="singlecell"] {
      border-radius: $active-cell-border-radius;
    }
  }
}
