
.pattern-sequence {
  display: flex;
  flex-flow: row nowrap;

  &__icon{
    width: 60px;
    fill: $color-brand-neutral-3;
    padding: 8px;
    flex-shrink: 0;
  }
  
  &__list{
    flex-grow: 1;
    background-color: rgba(0,0,0,0.25);
    overflow: hidden;
    padding: 8px 6px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  &__arrow {
    height: 100%;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: $color-brand-neutral-1;
    padding: 5px;

    &[data-sequence-arrow-clickable="true"]{
      fill: $color-brand-neutral-2;
      cursor: pointer;

      &:hover{
        fill: $color-brand-accent-2;
      }
    }
  }

  &__scrollable{
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    flex-grow: 1;
  }

  &__list-item {
    background: $color-brand-accent-2;
    height: 100%;
    width: 40px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 4px;
    border-radius: 5px;
    flex: 0 0 40px;
    font-family: 'Montserrat', sans-serif;
    color: $color-brand-foreground;

    &[data-sequence-list-item-type="human"]{
      background: $color-brand-accent-2;
    }
    &[data-sequence-list-item-type="robot"]{
      background: $color-brand-neutral-3;
    }
    // &[data-sequence-list-item-type="preview"]{
    //   background: $color-brand-neutral-1;
    // }
    &.active {
      border: 2px solid $color-brand-accent-4;
    }
  }

}