/**
*
*/
.pattern-sequence {
  display: flex;
  flex-flow: row nowrap;

  &__icon {
    width: 60px;
    fill: $color-brand-neutral-3;
    padding: 8px;
    flex-shrink: 0;
  }

  &__list {
    flex-grow: 1;
    background-color: rgba(0, 0, 0, 0.25);
    overflow: hidden;
    padding: 8px 6px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  &__arrow {
    height: 100%;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: $color-brand-neutral-1;
    padding: 5px;

    &[data-sequence-arrow-clickable="true"] {
      fill: $color-brand-neutral-2;
      cursor: pointer;

      &:hover {
        fill: $color-brand-accent-2;
      }
    }
  }

  &__scrollable {
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    flex-grow: 1;
  }

  &__list-item {
    height: 100%;
    width: 40px;
    z-index: 2;
    margin: 0 4px;
  }

  &__controls {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    flex-grow: 1;
  }

  &__control {
    background-color: white;
    color: black;
    font-family: "Montserrat", sans-serif;
    height: 100%;
    padding: 5px 20px;
    margin-left: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
      background-color: $color-brand-accent-1;
    }
  }

  &__match-items {
    border: 2px solid transparent;
    height: 100%;
    width: 84px;
    z-index: 2;
    margin: 0 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;

    &.active {
      border: 2px solid $color-brand-accent-4;
    }

    &.future{
      opacity: 0.5;
    }
  }
  &__match-item{
    height: 100%;
    width: 40px;
    z-index: 2;
  }
}

.sequencer-item {
  background: $color-brand-accent-2;
  border: 2px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  flex: 0 0 40px;
  font-family: "Montserrat", sans-serif;
  color: $color-brand-foreground;
  position: relative;

  &[data-sequence-list-item-type="human"] {
    background: $color-brand-accent-2;
  }

  &[data-sequence-list-item-type="robot"] {
    background: $color-brand-neutral-3;
  }

  &.active {
    border: 2px solid $color-brand-accent-4;
  }

  &__index {
    position: absolute;
    bottom: 0;
    left: 0;
    // margin-left: -9px;
    // margin-top: -9px;
    background-color: $color-brand-neutral-3;
    border-radius: 4px;
    z-index: 10;
    // border-radius: 10px;
    // border-bottom: 2px solid $color-brand-accent-4;
    // border-right: 2px solid $color-brand-accent-4;
    width: 14px;
    height: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
  }

  &__icon {
    padding: 8px;
    opacity: 0.3;
  }

  &[data-sequence-list-item-type="human"] &__icon {
    fill: $color-brand-neutral-3;
  }

  &[data-sequence-list-item-type="robot"] {
    background-color: rgba($color-brand-neutral-3, 0.25);
  }

  &[data-sequence-list-item-type="robot"] &__icon {
    // fill: $color-brand-neutral-2;
    fill: $color-brand-neutral-2;
    opacity: 0.25;
    padding: 4px;
    margin-bottom: 4px;
  }

  &[data-sequence-list-item-type="robot"] &__index {
    background-color: $color-brand-accent-2;
    color: $color-brand-neutral-3;
    font-weight: 900;
  }
}
