/**
 * COLORS
 * --
 * This contains the colour palette for the website
 */

// constant colors
$color-black: #272727;
$color-white: #ffffff;
$color-grey: #eeeeee;
$color-grey-dark: #666666;
$color-yellow: #fcf677;
$color-orange: #fca36b;
$color-blue: #8989f7;
$color-blue-deep: #1a1a36;
$color-purp: #a856fa;
$color-pink: #fd6161;

// brand colors
$color-brand-background: $color-blue-deep;
$color-brand-foreground: $color-white;

// mixins

// font colors

// border colors
