/**
 * COLORS
 * --
 * This contains the colour palette for the website
 */

// constant colors
$color-black: #000000;
$color-white: #ffffff;

// brand colors
$color-brand-background: deepskyblue; 
$color-brand-foreground: $color-white; 

// mixins

// font colors

// border colors
