/**
* PRELOAD component
*/
.app-preload {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;

  &[data-fadeout="true"] {
    -webkit-transition: opacity 0.5s ease-in-out 1s;
    -moz-transition: opacity 0.5s ease-in-out 1s;
    -ms-transition: opacity 0.5s ease-in-out 1s;
    -o-transition: opacity 0.5s ease-in-out 1s;
    opacity: 0;
  }

  &__logo {
    width: 300px;
    max-width: 80%;
    padding: 20px;
  }

  &__info {
    @include typography-1-m;
  }
}
