/**
*/

.page-profile {
  &__item {
    font-size: 14px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    min-width: 400px;
    padding: 5px;

    &-key {
    }
    &-value {
      color: $color-brand-accent-1;
    }
    &-avatar {
      display: flex;
      flex-grow: 1;
      align-items: center;
      justify-content: center;
      padding: 10px;

      &-photo {
        width: 100px;
        height: 100px;
        border-radius: 999px;
        // background-color: rgba($color-brand-neutral-1, 0.3);
        background-color: $color-brand-accent-2;
        border: 2px solid $color-brand-neutral-1;
        padding: 17px;
        fill: rgba(black, 0.2);
      }
    }
    &-button {
      text-align: center;
      flex-grow: 1;
      padding-top: 40px;
      pointer-events: none; // disabled for now
      opacity: 0.2;

      & span {
        background-color: white;
        color: black;
        padding: 5px 15px;
        border-radius: 5px;
      }
    }
  }
}
