.page-scoreboard {
  // border: 6px dotted rgba($color-brand-accent-1, 0.5);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  &__title {
    padding-bottom: 20px;
  }

  &__list {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;

    &:not(:last-of-type) {
      padding-bottom: 80px;
    }

    &-item {
      display: flex;
      flex-flow: row nowrap;
      width: 100%;
      justify-content: space-between;
      max-width: 330px;
      padding: 3px;

      &[data-index="1"] {
        color: $color-brand-accent-1;
      }
      &[data-index="2"] {
        color: $color-brand-neutral-1;
      }
      &[data-index="3"] {
        color: $color-brand-accent-2;
      }
      &[data-index="4"]{
        color: rgba($color-white, 0.5);
      } 
      &[data-index="5"]{
        color: rgba($color-white, 0.4);
      }

      &-count {
        padding-right: 10px;
        width: 50px;
      }
      &-details {
        flex-grow: 1;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
      }
      &-score {

      }

      &-username {
        flex-grow: 1;
        text-align: right;
      }

      &-avatar{
        height: 18px;
        width: 18px;
        border: 1px solid $color-brand-neutral-1;
        position: relative;
        background-color: $color-brand-accent-2;
        border-radius: 999px;
        margin-left: 10px;

        svg {
          padding: 1.5px;
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          fill: rgba($color-brand-background, 0.5);
        }
      }
    }
  }
}
